html{
    height: 100%;
    overflow: auto;
}

main{
    background-color: rgb(241, 242, 243);
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: auto;
    height: 100%;
}

/*header*/
.grid-header{
    display:grid;
    grid-template-columns: 100%;
    height: 20%;
    position: sticky;
}

#banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background: transparent no-repeat center;
    position: relative;
}
#badge{
    width: 189px;
    height: 60px;
    position: absolute;

}

#branding{
    border-style: solid;
    border-color: darkgrey;
    border-width: .1px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    width: 150px;
    height: 80px;
    position: absolute;
    left: 1717px;
    top: 40px; 
}

/*gale directory search box*/
div.grid-search{
   
    width: 560px;
    color: white;
    position: absolute;
    left: 33px;
    top: 70px;
}

.search p{
   margin-top: 10px;
   font-size: 12px;
   margin-bottom: 10px;
   font-weight: bolder;
}

#gale-dir {
    font-size: 32px;
    margin-bottom: 20px;
}

.button-header{
    line-height: 30px;
    float: left;
    border-radius: 4% 0% 0% 4%;
    border: hidden;
}

input.searchTerm{
    line-height: 30px;
    padding-left: 6px;
    margin: none;
    float: left;
    border: hidden;
    border-radius: 0px 4px 4px 0px;
    width: 380px;
}

i.fas.fa-caret-down::before{
    color:dimgray;
    margin-left: 3px;
    

}

i.fa.fa-search{
    margin-top: 6px;
    margin-left: -25px;
    color: #000000;
}

/*navbar*/
.navbar{
    border-bottom: solid lightgrey 2px;
    height: 50px; 
    /*box-shadow: 2px 2px 2px lightgrey; */
    box-shadow: 1px 8px  rgb(203, 204, 205);


    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(254, 255, 255);
    
    
}
.icons{
    display: flex;
    height: 20px;
    gap: 65px;
    margin-top: 0px;
    padding-right: 80px;
    margin-top: 10px;
    justify-content:flex-end;
}

.icons-description{
    display: flex;
    justify-content:flex-end;
    gap: 15px;
    font-size: 11px;
    height: 30px;
    padding-right: 30px;
} 
.icons-description p{
    margin: 0px 0px 0px 0px;
    padding-right: 10px;
}

/*book cards*/

.card{

    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    justify-content: space-between;
    grid-gap: 1.5em;
    grid-auto-rows: minmax(250px, auto);
    grid-auto-columns: minmax(700px, auto);
   
   
}

.card div {

    background-color:rgb(254, 255, 255);
    padding: 1em;
    
    

}

.book-1 img{

    height: 168;
}

.book-grid-1{

    display:grid;
    grid-template-columns: 25% 75%;
    border: solid;
    border-width: 1px;
    border-color: rgb(244, 245, 245);
    border-radius: 5px;
    box-shadow: 1px 2px 7px  rgb(203, 204, 205);
    
    
}

.book-grid-1.input.searchTerm {
    grid-template-columns: 2;
   
   
}

.right-nested div{
    display:grid; 
    grid-template-rows: 4 1fr;
    padding: 0px 0px 0px 0px; 
    margin: 0px 0px 0px 0px;

}

div.title {
    color:orangered;
    font-weight: bolder;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    
}

div.year {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 15px;
}

div.description{
    font-size: 14px;
    padding: 8px 80px 15px 0px;
}


i#magnify.fa.fa-search::before{

 
    
    left: 590px;
    top: 605px;
}

#book-1{

    height:auto;
}

.search{

    grid-template-columns: 1fr 1fr;
   
    
}

#book-search-box{
    border-color: red;
    border-radius: 3px;
    width: 500px;
    border: solid; 
    border-width: 1px;
}













