/*header*/

.grid-header{
    display:grid;
    grid-template-columns: 100%;
    height: 20%;
    position: sticky;
}

#banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background: transparent no-repeat center;
    position: relative;
}
#badge{
    width: 189px;
    height: 60px;
    position: absolute;

}

body{
    margin: 0;
    overflow: auto;
    height: 100%;
}

html{
    height: 100%;
    overflow: auto;
    
}